@import './fixes.scss';

$radius: 20px;
$border-width: 5px;

@mixin breakpoint($size) {
  @if $size == 1 {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $size == 2 {
    @media (max-width: 900px) {
      @content;
    }
  }
}

body {
  font-family: Lato;
  background: rgba(255, 109, 109, 1);
  .page {
    padding-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    .content {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(1) {
        width: 95vw;
      }
    }

    h3 {
      margin-top: 30px;
      font-size: 30px;
    }

    h4 {
      margin-top: 20px;
      font-size: 25px;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: black;
    }
    h1:before,
    h2:before {
      display: none;
    }
    background: white;
    color: black;
  }
  footer {
    background: white;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
  }
}

@mixin border {
  border: $border-width solid white;
  border-radius: $radius;
}

p {
  font-size: 20px;
  margin-bottom: 15px;
}

.buttons a {
  @include border;
  background: none;
  padding: 10px;
  margin: 10px;

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  // @include border;
  h3 {
    font-size: 30px;
  }

  img {
    height: 50px;
    padding-right: 10px;
  }

  transition-duration: 0.3s;
  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(6px);
  }
}

h1,
h2,
h3 {
  color: white;
  font-family: Montserrat;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
  margin-bottom: 50px;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  &:before {
    content: '';
    // position: absolute;
    left: 0;
    background: white;
    height: 40px;
    width: 80px;
    margin-right: 20px;
  }
}

ol *,
ul * {
  font-size: 20px !important;
}

ol,
ul {
  margin-bottom: 15px;
}

.buttons {
  & > * {
    display: inline-block;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 1000px;

  h1 {
    margin: 0;
  }
  img {
    height: 70px;
  }
}

@mixin shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0 0 20px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
  }
}

.timeline {
  margin-top: 50px;
  margin-bottom: 250px;
  display: flex;

  @include breakpoint(1) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .shell {
    display: flex;
    height: 1000px;
    flex: 1 0 50%;
    width: 100%;
    justify-content: center;

    @include breakpoint(1) {
      margin-bottom: 300px;
    }
  }

  .drawing {
    & > * {
      // margin-bottom: 300px;
      position: relative;
      display: flex;
      align-items: center;
    }

    .date {
      font-weight: bold;
    }

    .mark {
      width: 30px;
      height: 3px;
      background: black;
    }

    padding-right: 10px;
    border-right: 3px solid black;
    height: 100%;
  }

  .tiles {
    margin-right: 20px;
    height: 100%;
    flex: 1 0 50%;
    @include breakpoint(1) {
      flex: 0 0 50%;
    }
  }

  .tile {
    @include shadow;
    position: relative;
    background: white;
    margin: 10px;
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    padding: 10px;
    width: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    &.act {
      border-top: 6px solid #f96681;
    }
    &.court {
      border-top: 6px solid #6294d0;
    }
    &.amendment {
      border-top: 6px solid #e0c35b;
    }
  }
  .tile:hover {
    z-index: 10;
  }
}

.quote {
  margin: 30px 0;
  @include shadow;
  padding: 20px;
  img {
    width: 20px;
    margin-bottom: 10px;
  }
}

.brief {
  margin: 30px 0;
  @include shadow;
  padding: 20px;
  border-top: 6px solid #f96681;
  &.yellow {
    border-top: 6px solid #e0c35b;
  }
  position: relative;
  .title {
    font-weight: bold;
    margin-top: 0;
  }
  p {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .question {
    font-style: italic;
  }

  h1,
  h2 {
    margin-top: 0;
    display: inline-block;
  }
  img {
    display: inline-block;
    height: 60px;
    margin-left: 20px;
  }

  h3 {
    display: flex;
    align-items: center;
    margin-left: 40px;
    &:before {
      content: '';
      display: initial;
      position: absolute;
      left: 0;
      background: #e0c35b;
      height: 40px;
      width: 40px;
    }
  }
  .margin {
    margin-bottom: 20px;
  }
}

li {
  font-size: 15px;
}

img.decoration {
  margin: 20px auto;
}

#states {
  padding-top: 100px;
  a {
    display: inline-block;
    img {
      display: inline-block !important;
    }
  }
  margin-bottom: 100px;
}

#app {
  .page {
    padding-top: 0;
  }
}

.citation {
  float: right;
}
