html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body * {
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

button,
input,
select {
  border: 0; }

button:focus,
input:focus,
select:focus {
  outline: 0; }

p {
  cursor: default; }

button,
img {
  display: block; }

button img {
  margin: auto; }

button * {
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-drag: none; }

body {
  font-family: Lato;
  display: flex;
  flex-direction: column; }
  body .page {
    flex: 1 0 auto;
    background: linear-gradient(153deg, #ff6d6d 0%, #f4618d 100%);
    min-height: 100%;
    padding-bottom: 100px; }
  body footer {
    background: white;
    flex-shrink: 0;
    text-align: center;
    padding: 10px; }

p {
  font-size: 20px;
  margin-bottom: 15px; }

button {
  border: 5px solid white;
  border-radius: 20px;
  background: none;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.3s; }
  button h3 {
    font-size: 30px; }
  button img {
    height: 50px;
    padding-right: 10px; }
  button a {
    text-decoration: none;
    display: flex;
    align-items: center; }

button:hover {
  transform: translateY(-3px); }

button:active {
  transform: translateY(6px); }

h1,
h2,
h3 {
  color: white;
  font-family: Montserrat; }

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 50px; }

h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px; }
  h2:before {
    content: '';
    left: 0;
    background: white;
    height: 40px;
    width: 80px;
    margin-right: 20px; }

.buttons > * {
  display: inline-block; }

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 100px;
  padding: 0 400px; }
  header h1 {
    margin: 0; }
  header img {
    height: 70px; }

.content {
  padding: 30px 400px;
  background: white;
  color: black; }

.timeline {
  margin-top: 50px;
  margin-bottom: 250px;
  display: flex;
  height: 1000px; }
  .timeline .drawing {
    padding-right: 10px;
    border-right: 3px solid black; }
    .timeline .drawing > * {
      position: relative;
      display: flex;
      align-items: center; }
    .timeline .drawing .date {
      font-weight: bold; }
    .timeline .drawing .mark {
      width: 30px;
      height: 3px;
      background: black; }
  .timeline .tiles {
    flex: 1 0 50%;
    margin-right: 20px; }
  .timeline .tile {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0 0 20px 3px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    position: relative;
    background: white;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .timeline .tile:hover {
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25); }
    .timeline .tile .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
    .timeline .tile.act {
      border-top: 6px solid #f96681; }
    .timeline .tile.court {
      border-top: 6px solid #6294d0; }
    .timeline .tile.amendment {
      border-top: 6px solid #e0c35b; }
  .timeline .tile:hover {
    z-index: 10; }

.quote {
  margin: 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0 0 20px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
  padding: 20px; }
  .quote:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25); }
  .quote img {
    width: 20px;
    margin-bottom: 10px; }

.brief {
  margin: 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0 0 20px 3px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
  padding: 20px;
  border-top: 6px solid #f96681; }
  .brief:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25); }
  .brief .title {
    font-weight: bold;
    margin-top: 0; }
  .brief p {
    margin-bottom: 5px;
    margin-top: 10px; }

li {
  font-size: 15px; }
